@font-face {
	font-family: gunplay;
	src: url('./gunplay.ttf');
}
body {
	font-family: gunplay;
}
#drop {
    border: 3px dashed #ddd;
    padding: 30px;
    min-width:250px;
    min-height:250px;
}
.lead {
    text-align: center;
    padding: 20px;
}
.ui-mobile .ui-page .ui-slider-input,
.ui-mobile .ui-dialog .ui-slider-input {
    display : none;
}
.gylphicon{
	font-size: 1em;
}
.button-box{
	border-style: none;
}
.pointer{
	cursor: pointer;
}
.slowerfaster{
	width:50px;
}
.pitch-icon{
 	font-size: 3em;
}
#heading{
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:  1.25em;
}
#pause_button{
	display: none;
}
#play_button{
	display: none;
}
.x{
	color: #8B231C;
}
#lightbox{
	padding: 30px;
}
#tune_list{
	padding: 30px;
}
a *{
	color: #ddd;
}